#section-a {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: 'english hebrew';
}

#section-a .english {
  grid-area: english;
  margin-left: 20px;
}

#section-a .hebrew {
  grid-area: hebrew;
  margin-right: 20px;
}

#section-a .english .list,
#section-a .hebrew .list {
  display: grid;
  grid-gap: 15px;
  list-style: none;
  margin: 15px;
  padding: 0;
  grid-template-columns: repeat(2, 1fr);
}

#section-a .english h4,
#section-a .hebrew h4 {
  color: #fff;
  font-size: 1.1rem;
}

#section-a .english a,
#section-a .hebrew a {
  background: #ddd;
  display: block;
  text-decoration: none;
  padding: 0.8rem;
  text-align: center;
  color: #333;
  font-size: 1.1rem;
  width: auto;
  cursor: pointer;
}

#section-a a:hover {
  background: #333;
  color: #fff;
}
