html {
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background: #1e2130;
  line-height: 1.4;
  text-align: center;
  margin: 0;
}

img {
  max-width: 100%;
}
