/* Media Queries */

@media (max-width: 800px) {
  .top-container {
    grid-template-areas: 'showcase showcase';
  }

  .showcase h1 {
    font-size: 1.8rem;
  }

  .showcase p {
    font-size: 1.1rem;
  }
  .showcase p a {
    font-size: 1.1rem;
  }
}

@media (max-width: 1070px) {
  #section-a {
    grid-template-columns: 1fr;
    grid-template-areas:
      'english'
      'hebrew';
  }
  #section-a .english {
    margin: 0;
  }

  #section-a .hebrew {
    margin: 0;
  }

  #section-a .english ul,
  #section-a .hebrew ul {
    grid-template-columns: 1fr;
  }

  #section-b {
    grid-template-columns: 1fr;
    grid-template-areas:
      'english'
      'hebrew';
  }

  #section-b #english {
    margin: 0;
  }

  #section-b #hebrew {
    margin: 0;
  }

  .article {
    grid-template-columns: 1fr;
    grid-template-areas:
      'title'
      'content'
      'link'
      'date';
  }

  .article .title {
    font-size: 1rem;
  }

  .article .content {
    font-size: 0.8rem;
  }

  .article .link {
    font-size: 0.9rem;
  }

  .article .date {
    font-size: 0.9rem;
  }
}

@media (max-width: 450px) {
  #section-a .english .list,
  #section-a .hebrew .list {
    grid-template-columns: 1fr;
  }

  #footer ul li img {
    width: 10px;
    height: 10px;
  }

  #footer ul li a {
    font-size: 1rem;
  }
}

@media (max-width: 1070px) {
  .article {
    grid-auto-rows: auto;
  }
}

@media (max-width: 1400px) {
  #wrapper {
    padding: 0 0;
  }
}
