/* Media Queries */

@media (max-width: 800px) {
  .btn {
    font-size: 16px;
  }

  #feed article h1 {
    font-size: 19px;
  }

  #feed article p {
    font-size: 14px;
  }

  #feed article a {
    font-size: 14px;
  }

  #feed article strong {
    font-size: 14px;
  }
}

@media (max-width: 850px) {
  #header {
    grid-template-columns: 1fr;
    grid-template-areas:
      'title'
      'link';
  }

  #header strong {
    margin: 0;
    padding: 5px;
  }
}

@media (max-width: 450px) {
  #header h4 {
    font-size: 12px;
  }
  #header h1 {
    font-size: 25px;
  }
  #header strong a span {
    font-size: 12px;
  }
}

@media (max-width: 1070px) {
  article {
    grid-auto-rows: auto;
  }
}

@media (max-width: 560px) {
  #section-a ul {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 403px) {
  .btn {
    font-size: 14px;
    font-weight: normal;
  }
}

@media (max-width: 360px) {
  .btn {
    padding: 5px;
  }
}

@media (max-width: 340px) {
  .btn {
    padding: 3px;
    font-size: 12px;
  }
}

@media (max-width: 306px) {
  .btn {
    padding: 3px;
    font-size: 11px;
  }
}

@media (max-width: 289px) {
  .btn {
    padding: 2px;
    font-size: 10px;
  }
}
